{% extends 'base.html.twig' %}

{% block title %}Editar Clientes{% endblock %}

{% block body %}

    {% if nombres|length == 0 %}

        <h3 class="centerText">No hay Clientes</h3>

    {% else %}

        <form method="post" action="{{ path('editar') }}">
            <div class="centerText">
                <br>
                <label for="cliente">Elige las Opciones</label>
                <select name="cliente" id="cliente">

                    {% for nombre in nombres %}
                        <option value="{{ nombre }}">{{ nombre }}</option>
                    {% endfor %}

                </select>

                <select name="action" id="action">
                    <option value="editar">Editar</option>
                    <option value="eliminar">Eliminar</option>
                </select>

                <div class="inlineLeft"><button type="submit">Elegir</button></div>
                <div class="inlineBlock"><button  type="button" onclick="window.location.href='{{ path('clientes') }}'">Volver</button></div>
            </div>
        </form>

    {% endif %}

    {% if editar is defined %}
        <hr>
        {% include 'clientes/añadir.html.twig' %}

    {% elseif eliminar is defined %}

        <h3 class="centerText">¿Seguro que quieres eliminar {{ clientName }}?</h3>
        <form class="centerText" method="get" action="{{ path('deleteClient', {'clientName': clientName}) }}">
            <div class="inlineLeft"><button type="submit">Eliminar</button></div>
        </form>

    {% endif %}

{% endblock %}
